<form method="POST" action="{{ url_for('.register')}}">
    {{ form.hidden_tag()  }}
    <div>
      {{ form.full_name.label }} {{ form.full_name }}
    </div>
    <div>
      {{ form.email.label }} {{ form.email }}
    </div>
    <div>
      {{ form.password.label }} {{ form.password }}
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
    <div>
      {{ form.confirm.label }} {{ form.confirm }}
    </div>
    <div>
      <input type="submit" value="Register">
    </div>
</form>
