{% extends "base.html" %}

{% block title %}{{ title }} - {{ config['BLOG_NAME'] }}{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8 pt-5">

        {% include '_flashmessages.html' %}

        <h4>Latest Posts</h4>

        <div class="post-list">
            {% for post in posts.items %}
            <div class="row post-item pt-3">
                <div class="col-md-9">
                    <h5><a href="{{ url_for('blog_app.article', slug=post.slug) }}">{{ post.title }}</a></h5>
                    <div class="post-body">{{ post.body[:220] }}</div>
                    <div class="text-muted">Posted by {{ post.author.full_name }} on {{
                        post.publish_date.strftime('%Y-%m-%d') }}
                        {% if post.category %}
                        in {{ post.category.name }}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-3">
                    {% if post.image %}
                    <img src="{{ url_for('static', filename='images/uploads/' + post.image + '.sm.png') }}" class="img-thumbnail" />
                    {% endif %}
                </div>
            </div>
            <hr />
            {% endfor %}
        </div>

    </div>

</div>

<div class="row">

    <div class="offset-md-2 col-md-8 pt-5">
        {% if posts.has_prev %}
        <a href="{{ url_for('blog_app.index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>
        {% endif %}
        {% if posts.has_next %}
        <a href="{{ url_for('blog_app.index', page=posts.next_num) }}">Older posts &gt;&gt;</a>
        {% endif %}
    </div>

</div>
{% endblock %}