{% extends "base.html" %}

{% block title %}Blog Post{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8">

        {% if action=="new" %}
        <h3>New Blog Post</h3>
        {% else %}
        <h3>Edit Blog Post</h3>
        {% endif %}

        {% from "_formhelpers.html" import render_field %}

        {% if action=="new" %}
        <form method="POST" action="{{ url_for('.post') }}" enctype="multipart/form-data" role="form">
        {% else %}
        <form method="POST" action="{{ url_for('.edit', slug=post.slug) }}" enctype="multipart/form-data" role="form">
        {% endif %}

            {{ form.hidden_tag() }}

            {% if post and post.image %}
            <img src="{{ url_for('static', filename='images/uploads/' + post.image + '.sm.png') }}" class="img-thumbnail" />
            {% endif %}            

            {{ render_field(form.image, class='form-control') }}
            {{ render_field(form.title, class='form-control') }}
            {{ render_field(form.body, class='form-control', rows=10) }}
            {{ render_field(form.category, class='form-control') }}
            {{ render_field(form.new_category, class='form-control') }}

<div class="form-group">
    <label for="tags_field">Tags</label>
    <input class="form-control" id="tags_field" name="tags_field" type="text" value="{{ tags_field }}">
</div>

            {% if action=="new" %}
            <button type="submit" class="btn btn-primary">Post</button>
            {% else %}
            <button type="submit" class="btn btn-primary">Update</button>
            {% endif %}

        </form>

    </div>

</div>

{% endblock %}